<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <!-- 控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{'yyyy-MM-dd HH:mm:ss,SSS'} %highlight(%5level) - %boldBlue([%-21thread]) %boldGreen(%-50logger{50}) : %m%n</pattern>
        </encoder>
    </appender>
    <!-- 通用日志 appender  -->
    <appender name="COMMON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<file>${LOG_FILE}.log</file>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 90天 -->
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{'yyyy-MM-dd HH:mm:ss,SSS'} %5level - [%-21thread] %-50logger{50} : %m%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="COMMON" />
    </root>
</configuration>



